# BE BOSS Barbers - Environment Variables Template
VITE_SITE_URL=https://bebossbarbers.co.uk
VITE-[#D4AF37]_API_ENDPOINT=https://api.bebossbarbers.co.uk/v1
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
VITE_CLOUDFLARE_TURNSTILE_SITE_KEY=your_turnstile_site_key_here
